 <h1>商品詳細</h1>

  <table class = "table table-striped">

  <thead>
    <tr>
      
      <th>商品名</th>
      <td><%= link_to @item.name %></td>
      
      
      <th>商品説明</th>
      <td><%= @item.introduction %></td>
      
      <th>税抜価格</br>(税抜価格)</th>
      <td><%= @item.price %></td>
      
  </thead>

  <tbody>
      <tr>
        
        
        
      </tr>

  </tbody>

</table>

